@ charset "UTF-8"

html, head, body {
	
	display: block;
}

header{
	background-color: #203461;
}

body{
	background:linear-gradient(to bottom right, #858891 , white);
}

h1 {
	font-weight: bold;
	font-family: courier new;
	color: white;
	
}

/*headers*/
.webpage-title{
	width: 100%;
	padding-left: 3rem;
	padding-bottom: 1rem;
}

.header-title {
	display: inline;
}

.logo {
	
	position: relative;
	float: right;
	margin: -5rem 3rem 0rem 0rem;
}

.menu-bar {
	width: 100%;
	background-color: #B0B4BE;
	
}

.menu-bar-sticky {
	position: fixed;
	top: 0px;
}


.menu-bar-ul {
	display: inline;
	color: white;
	
}

.menu-bar-li {
	display: inline;
	
}

.menu-bar-btn {
	position: relative;
	padding: 1rem;
	font-size: 18px;
	font-family: Times New Roman;
	background-color: #B0B4BE;
	color: #203461;
	border: none;
	outline: none;

}

.menu-bar-btn:hover {
	transition: .2s;
	background-color: #203461;
	color: white;
}

.menu-bar-btn:active {
	/*top: 2px;*/
	background-color: #27B3A6;
}


/*Login form*/
.login-page{
	
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
}

.form{
	position: relative;
	z-index: 1;
	background-color: #203461;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}

.form input{
	font-family: "Roboto", sans-serif;
	outline: 1;
	background: white;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button{
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background:	#27B3A6;
	width: 100%;
	border: 0;
	padding: 15px;
	color: white;
	margin-top: 10px;
	font-size: 14px;
	cursor: pointer;
}




















